<div class="list-group">
    <a href="#" class="list-group-item">News</a>
    <a href="#" class="list-group-item">Tutorials</a>
    <a href="#" class="list-group-item">Releases</a>
    <a href="#" class="list-group-item">Events</a>
</div>