<!-- ADMIN LAYOUT -->
<!DOCTYPE html>
<html>
<head>
  <title>Login | rBlog</title>
  <%= stylesheet_link_tag    'admin/login', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
