/*
 * ADMIN STYLESHEET
 * This is a manifest file that'll be compiled into admin/application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "admin/partials/variables";
@import "admin/partials/mixins";
@import "admin/main";